# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
*.jpg~
*.jpeg~
*.png~

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Playgrounds
*.playground/

# Archives
*.xcarchive

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets
*.env
.env.*
secrets/
